{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="details">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>Device</strong>
                                </div>
                                </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>Services</strong>
                                </div>
                                    <div class="panel-body text-muted">
                                        None
                                    </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>Images</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
